@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange:#d26a22;
$white:#ffffff;
$dark-orange:#bf601f;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

$r_minmob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_600: 600px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_1400: 1400px;
$r_desk_full_1730: 1730px;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    max-width: 1440px;
    margin: 0 auto 5rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    @media (max-width: $r_desk_1280) {
        gap:3%; 
    }
    &__navigation {
        flex-grow: 1;
        margin-left: 4.7rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 0; 
        }
        @media (max-width: $r_desk_hd) {
            flex-grow: 0;
        }
        @media (max-width: $r_tab_900) {
            display: none;
        }
    }
    &__nav {
        gap: 4.8rem;
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        @media (max-width: $r_desk_hd) {
            gap: 2.5rem;
        }
        }
    &__link {
        color: $green;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
            color:$orange;
        }
    }
    &__tel {
        color: $green;
        text-decoration: none;
        font-weight: 500;
        transition: 0.3s;
        flex-basis: 160px;
        letter-spacing: 0.13rem;
        &:hover {
            color:$orange;
        }
        @media (max-width: $r_desk_hd) {
            display: none; 
        }
    }
    &__cart {
        display: block;
        background-image: url(../images/cart.svg);
        background-size: 1.7rem 1.5rem;
        background-color: $orange;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        border:1px solid $orange;
        transition: 0.3s;
        cursor:pointer;
        @media (max-width: $r_desk_hd) {
            background-image: url(../images/cart_green.svg);
            background-color: $white;
            border:1px solid $green;
            opacity: 0.8;
        }
        &:hover {
            background-color: $green;
            border:1px solid $green;
            @media (max-width: $r_desk_hd) {
                background-color: $white;
                opacity: 1;
            }
        }
    }
    &__counter {
        color: $white;
        font-size: 0.8rem;
        text-decoration: none;
        position: absolute;
        right: 0.7rem;
        top: 0.6rem;
        @media (max-width: $r_desk_hd) {
            color: $green; 
        }
    }
    &__phone, &__menu {
        display: none;
    }
    &__phone {
        @media (max-width: $r_desk_hd) {
            display: block; 
            background-image: url(../images/tel.svg);
            background-size: 1.7rem 1.5rem;
            background-color: $white;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            border:1px solid $green;
            transition: 0.3s;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__menu {
        @media (max-width: $r_tab_900) {
            display: block; 
            background-image: url(../images/menu.svg);
            background-size: 1.7rem 1.5rem;
            background-color: $white;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            border:1px solid $green;
            transition: 0.3s;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__buttons {
        @media (max-width: $r_desk_hd) {
            display: flex;
            align-items:center;
            gap: 2rem;
        }
    }
}
.logo {
    display:block;
    background-image: url(../images/logo.svg);
    flex-basis: 12rem;
    height: 3.2rem;
    background-repeat: no-repeat;
    background-size: contain;
    &__big {
        width: 17.9rem;
        height: 4.8rem;
    }
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: $r_tab) {
        max-width: 600px;
    } 
}
.main {
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    &__item {
        margin-left: 12rem;
        max-width: 378px;
        margin-top: 6rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 8rem;
        }
        @media (max-width: $r_tab) {
            max-width: 100%;
            margin-left: 0;
            margin-top: 3rem;
        }
    }
    &__link {
        margin-top: 5.5rem;
        @media (max-width: $r_tab) {
            text-align: center;
        }
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        padding-bottom: 200px;
        @media (max-width: $r_desk_1120) {
            padding-top: 3rem;
        }
        @media (max-width: $r_desk) {
            padding-top: 0;
            padding-bottom: 135px;
        }
        @media (max-width: $r_tab) {
            padding-bottom: 0;
        }
    }
    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width: $r_desk_1350) {
            flex-basis: 650px;
            height: 650px;
        }
        @media (max-width: $r_desk_hd) {
            flex-basis: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_1120) {
            height: auto;
            border: 1px solid transparent;
            flex-basis: calc(100% - 395px);
        }
        @media (max-width: $r_tab) {
            display: none;
        }
    }
    &__line {
        width: 656px;
        height: 656px;
        border-radius: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba($green, 0.4);
        @media (max-width: $r_desk_1350) {
            width: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_hd) {
            border: 1px solid transparent;
            width: auto;
            height: auto;
        }
    }
    &__image {
        width: 90%;
        border-radius: 100%;
        animation: shadow 5s infinite;
    }
    &__imagemobi {
        display: none;
        @media (max-width: $r_tab) {
            display: block;
            max-width: 300px;
            margin: 0 auto;
            margin-top: 3rem;
        }
    }
    &__text {
        padding-top: 4rem;
        @media (max-width: $r_desk_1120) {
            flex-basis: 395px;
        }
        @media (max-width: $r_desk_1120) {
            flex-basis: 75%;
        }
        @media (max-width: $r_tab) {
            padding-top: 0;
            flex-basis: 100%;
        }
    }
    &__btn {
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        background-color: transparent;
        text-align: left;
        line-height: 1.4;
        &:hover {
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                }
            }
        &::before {
            content: '';
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            background-color: $green;
            position: absolute;
            cursor: pointer;
            transition: 0.3s;
        }
        &_1 {
            top: 46px;
            left: 63px;
            @media (max-width: $r_desk_hd) {
                top: 31px;
                left: 28px;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
            }
            &::before {
            bottom: 11px;
            right: -35px;
            }
        }
        &_2 {
            top: 193px;
            right: 1px;
            @media (max-width: $r_desk_1350) {
                top: 109px;
            }
            @media (max-width: $r_desk_hd) {
                top: 60px;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
            }
            &::before {
            top: 17px;
            left: -25px;
            }
        }
        &_3 {
            bottom: -51px;
            right: 243px;
            @media (max-width: $r_desk_1350) {
                bottom: -58px;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
            }
            &::before {
            top: -21px;
            left: 13px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, 0.8);
    }
    &__vegetables {
        position: absolute;
        z-index: -1;
        &_pepper {
        top: 399px;
        left: 30px;
        width: 8.6rem;
        height: auto;
        @media (max-width: $r_desk_full_1730) {
            top: 495px;
            left: 15px;
        }
        } 
        &_bean01 {
        top: 798px;
        left: 8px;
        width: 4.7rem;
        height: auto;
        @media (max-width: $r_desk_hd) {
            top: 698px;
        }
        @media (max-width: $r_desk_1120) {
            display: none;
        }
        } 
        &_bean02 {
        top: 813px;
        left: 0px;
        width: 3.6rem;
        height: auto;
        @media (max-width: $r_desk_hd) {
            top: 713px;
        }
        @media (max-width: $r_desk_1120) {
            display: none;
        }
        }
        &_bean03 {
        top: 864px;
        left: 29px;
        width: 6.6rem;
        height: auto;
        @media (max-width: $r_desk_hd) {
            top: 764px;
        }
        @media (max-width: $r_desk_1120) {
            display: none;
        }
        } 
        &_tomato {
        bottom: 127px;
        right: 109px;
        width: 11rem;
        height: auto;
        @media (max-width: $r_desk_hd) {
            bottom: 100px;
            right: 10px;
        }
        } 
        &_avocado {
        top: 49px;
        right: 0px;
        width: 17.8rem;
        height: auto;
        @media (max-width: $r_desk_full_1730){
            width: 12.8rem;
            top: 100px;
            right: -40px;
        }
        }
        &_cucumber {
        top: 0px;
        right: 682px;
        width: 8.5rem;
        height: auto;
        } 
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    line-height: 1.0;
    @media (max-width: $r_desk_1280) {
        font-size: 7rem;
    }
    @media (max-width: $r_desk_1120) {
        font-size: 6rem;
    }
    @media (max-width: $r_tab) {
        text-align: center;
    }
    &__span {
        font-style: italic;
        animation: animate_color 5s infinite;
    }
    &_block {
        .title__span {
            display:block;
        }
    }
}
.description {
    margin: 0;
    line-height: 1.5;
    @media (max-width: $r_tab) {
        text-align: center;
    }
    &_size-s {
        font-size: 1.8rem;
        @media (max-width: $r_desk_1280) {
            font-size: 1.6rem;
        }
    }
    &_size-m {
        font-size: 2.4rem;
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
        }
    }
}
.link {
    color:$white;
    text-transform: uppercase;
    padding: 2.3rem 4.4rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    letter-spacing: 0.13rem;
    border: none;
    transition: 0.2s;
    @media (max-width: $r_desk_1350) {
        padding: 1.8rem 3.0rem; 
        font-size: 1.4rem;
    }
    &:hover {
    background-color: $dark-orange;
    }
    &_min {
        font-size: 1.4rem;
        padding: 2.0rem 3.4rem;
        box-shadow: 0px 1rem 1.1rem .17rem rgba(207, 92, 13, 0.15);
        @media (max-width: $r_desk_1400) {
            padding: 1.5rem 2.4rem;
        }
    }
}
.offer {
    margin-top: 1rem;
    margin-bottom: 11rem;
    @media (max-width: $r_tab) {
        margin-top: 6rem;;
    }
    &__text {
        margin-top: 5.7rem;
        max-width: 68.5rem;
    }
}
.slider {
    overflow: hidden;
    padding-top: 9.5rem;
    @media (max-width: $r_tab) {
        max-width: 450px;
        margin:0 auto; 
        padding-top: 5.4rem;
        padding-bottom: 6rem;
    }
}
.swiper {
    overflow: initial;
    &-slide {
        border: 1px solid rgba($color: $green, $alpha: 0.4);
        background-color: $white;
        border-radius: 2rem;
        padding: 3rem 3.7rem 3.8rem;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
        transition: 0.3s;
        @media (max-width: $r_desk) {
            background-position: 20% 0%;
        }
        &_white {
            justify-content: end;
            height: 520px;
            display: flex;
            flex-direction: column;
            @media (max-width: $r_desk_hd) {
                height: 400px;
                padding-bottom: 1.8rem;
            }
            &:hover {
                .swiper-slide__hover {
                    height: 233px;
                    opacity: 1;
                    @media (max-width: $r_tab) {
                        height: 25px;
                    }
                }
                &::after {
                    content:'';
                    background-color: rgba(white, 0.55);
                    width:calc(100% - 4px);
                    height:calc(100% - 4px);
                    position: absolute;
                    top:2px;
                    left: 2px;
                    border-radius: 2rem;
                    z-index: -1;
                }
            }
        }
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
            .swiper-slide__hover {
                height: 233px;
                opacity: 1;
                @media (max-width: $r_tab) {
                    height: 25px;
                }
            }  
        }
        &__title {
            margin-bottom:0;
            font-family: $font-cormorant;
            font-size: 3rem;
            font-weight: 700;
            @media (max-width: $r_desk_1280) {
                margin-top: 0;
                text-align: center;
                font-size: 2.5rem;
                min-height: 60px;
            }
        }
        &__hover {
            height:0;
            opacity: 0;
            transition: 0.7s;
            @media (max-width: $r_tab) {
                height: 25px;
                opacity: 0.7;
            }
        }
        &__text {
            opacity: 0.7;
            margin-top: 2.5rem;
            max-width: 27rem;
            line-height: 1.48;
            margin-bottom: 3.3rem;
            @media (max-width: $r_desk_1120) {
                margin-top: 1.6rem;
            }
            @media (max-width: $r_tab) {
                display: none;
            }
        }
        &__link {
            display:flex;
            align-items: center;
            align-content: center;
            gap: 2rem;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.15rem;
            font-family: $font-jost;
            font-size: 1.6rem;
            color: $green;
            opacity: 0.8;
            font-weight: 500;
            transition: 0.3s;
            @media (max-width: $r_tab) {
                justify-content: center;
            }
            &:hover {
                opacity: 1;
            }
            &::before {
            content: "";
            display:block;
            background-image: url(../images/plus.svg);
            background-size: 1.5rem 1.5rem;
            width: 2.8rem;
            height: 2.8rem;
            background-repeat: no-repeat;
            background-position: center center;
            border: 1px solid $green;
            opacity: 0.8;
            border-radius: 100%;
            }
        }
        &_milk {
            background-image: url(../images/milk.png);
            background-size: contain;
            @media (max-width: $r_desk) {
                background-size: 70%;
            }
            @media (max-width: $r_tab_900) {
                background-size: 80%;
            }
            @media (max-width: $r_tab) {
                background-size: 70%;
            }
        }
        &_pasta {
            background-image: url(../images/pasta.png);
            background-size: contain;
            @media (max-width: $r_desk) {
                background-size: 70%;
            }
            @media (max-width: $r_tab_900) {
                background-size: 80%;
            }
            @media (max-width: $r_tab) {
                background-size: 70%;
            }
        }
        &_meat {
            background-image: url(../images/steaks.png);
            background-size: contain;
            @media (max-width: $r_desk) {
                background-size: 70%;
            }
            @media (max-width: $r_tab_900) {
                background-size: 80%;
            }
            @media (max-width: $r_tab) {
                background-size: 70%;
            }
        }
        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 326px;
        }
        &__image {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: contain;
            width: 100%;
            height: 315px;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $r_desk_1280) {
                flex-direction: column;
                gap: 1rem;
            }
        }
        &__trend {
            height: 680px;
            padding-top: 2rem;
            @media (max-width: $r_desk_1280) {
                margin-bottom: 10rem;
                padding-bottom: 2rem;
            }
        }
        &__description {
            font-size: 1.8rem;
            color: rgba($green, 0.7);
            max-width: 26rem;
            min-height: 55px;
            margin-top: 2.5rem;
            margin-bottom:0;
            line-height: 1.4;
            min-height: 80px;
            @media (max-width: $r_desk_1280) {
                text-align: center;
                max-width: 100%;
                margin-top: 0;
            }
        }
        &__price {
            font-size: 2.4rem;
            margin-bottom:3rem;
            margin-top: 0;
            @media (max-width: $r_desk_1280){
                margin-top: 1rem;
                margin-bottom:1rem;
                text-align: center;
            }
        }
    }
    &-pagination {
        display: none;
        @media (max-width: $r_tab) {
            display: block;
        }
    }
    &-button-next, &-button-prev {
        top: -62px;
        transition: 0.3s;
        @media (max-width: $r_tab) {
            display: none;
        }
        &:hover {
            &::after {
                color: rgba($green, 1);
            }
        }
        &::after {
            color: rgba($green, 0.4);
            font-size: 2rem;
        }
    }
    &-button-next {
        left:initial;
        right: -9px;
    }
    &-button-prev {
        left:initial;
        right: 72px;
    }
}
.swiper-horizontal>.swiper-pagination-bullets {
    bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet {
    background-color: rgba($green, 0.4);
    width: 8px;
    height: 8px;
    &-active {
        background-color: $orange;  
        border: 1px solid $orange;
    }
}
.counter {
    display: flex;
    &__btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        border-radius: 100%;
        background-color: transparent;
        padding: 0;
        background-position: center center;
        transition: 0.3s;
        &_min {
            width: 40px;
            height: 40px;
        }
    }
    &__minus {
        pointer-events: none;
        background-image: url(../images/minus.svg);
        background-size: 20px 11px;
        background-repeat: no-repeat;
        opacity: 0.4;
    }
    &__plus {
        background-image: url(../images/plus.svg);
        background-size: 14px 14px;
        background-repeat: no-repeat;
    }
    &__input {
        text-align: center;
        font-size: 2.4rem;
        width: 46px;
        border: none;
        padding: 0;
        &_min {
            width: 35px;
        }
    }
    &__link {
        padding: 2.3rem 5.1rem;
    }
}
.about {
    margin-top: 17rem;
    margin-bottom:20rem;
    @media (max-width: $r_desk_1280) {
        margin-top: 12rem;
        margin-bottom: 8rem;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        gap: 24rem;
        margin-left: 12rem;
        margin-top: 6rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 8rem;
            gap: 10rem;
        }
        @media (max-width: $r_tab) {
            margin-left: 0;
            margin-top: 3rem;
        }
        @media (max-width: $r_tab_900) {
            flex-direction: column;
            margin-left: 0;
            gap: 4rem;
        }
    }
    &__text {
        display:flex;
        align-items: end;
        @media (max-width: $r_desk_1280) {
            align-items: center;
        }
    }
    &__list {
        list-style-type: none;
        padding-left: 0;
        margin:0;
        display:flex;
        justify-content: space-between;
        gap: 9rem;
        align-items: center;
        @media (max-width: $r_desk_1280) {
            gap: 5rem;
            margin: 0 auto;
        }
    }
    &__item {
        font-family: $font-cormorant;
        font-style: italic;
        font-size: 3rem;
        font-weight: 700;
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
        gap: 1.8rem;
        @media (max-width: $r_desk_1280) {
            font-size: 2.5rem;
        }
        &::before {
            content: "";
            display:block;
            background-position: center center;
            background-repeat: no-repeat;
            height: 8.5rem;
            width: 8.5rem;
            border: 1px solid rgba($green, 0.4);
            border-radius: 100%;
        }
        &_fruits::before {
            background-image: url(../images/fruits.svg);
            background-size: 43px 41px;
        }
        &_traditional::before {
            background-image: url(../images/traditional.svg);
            background-size: 39px 39px;
        }
        &_goods::before {
            background-image: url(../images/good.svg);
            background-size: 45px 39px;
        }
    }
}
.trends {
    margin-top: 6rem;
    margin-bottom:19rem;
    @media (max-width: $r_desk_1280) {
        margin-bottom: 12rem;
    }
    &__text {
        margin-top: 3.5rem;
    }
}
.catalog {
    padding-top: 0rem;
    padding-bottom: 8rem;
    &__text {
        margin-bottom: 8.5rem;
        margin-top: 3.5rem;
        @media (max-width: $r_desk_1120 ) {
            margin-bottom: 3.5rem;
        }
    }
    &__filter {
        & ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
        }
        &_items li {
            display: inline-block;
            width: 23rem;
            padding-top: 24px;
            padding-bottom: 24px;
            text-align: center;
            margin-right: 16px;
            margin-bottom: 1rem;
            border-radius: 40px;
            font-size: 1.8rem;
            color: rgba($green, 0.5);
            border: 1px solid rgba($green, 0.5);
            box-sizing: border-box;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                color: $orange;
                border: 1px solid $orange;
            }
            &.active{
                color: $orange;
                border: 1px solid $orange;
            }
        }
    }
    &__btn {
        display:flex;
        align-items: center;
        gap: 2rem;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.1rem;
        font-family: $font-jost;
        font-size: 1.6rem;
        color: $green;
        opacity: 0.8;
        font-weight: 500;
        border: none;
        background-color: transparent;
        margin-top: 60px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            opacity: 1;
        }
        &::before {
        content: "";
        display:block;
        background-image: url(../images/refresh.svg);
        width: 2.4rem;
        height: 2.4rem;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.8;
        }
    }
}
.catalog__grid {
    display: grid;
    gap: 2.1rem;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4rem;
    @media (max-width: $r_desk_1350) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $r_tab_900) {
        grid-template-columns: repeat(2, 1fr);
    }
    &__item {
        border:1px solid rgba($green, 0.4);
        border-radius: 2rem;
        padding: 2rem 1.7rem 3rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.3s;
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
        }
        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 230px;
        }
        &__image {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: contain;
            width: 100%;
            height: 204px;
        }
        &__title {
            margin-bottom:0;
            margin-top: 0;
            font-family: $font-cormorant;
            font-size: 3rem;
            font-weight: 700;
            @media (max-width: $r_desk_1350) {
                min-height: 70px;
            }
            @media (max-width: $r_desk) {
                text-align: center;
            }
        }
        &__description {
            font-size: 1.6rem;
            color: rgba($green, 0.7);
            max-width: 24rem;
            margin-top: 1.5rem;
            margin-bottom:0;
            display: flex;
            flex-direction: column;
            flex: 1;
            line-height: 1.4;
            @media (max-width: $r_desk) {
                text-align: center;
                max-width: 100%;
            }
        }
        &__price {
            font-size: 2.4rem;
            margin-bottom:2.9rem;
            @media (max-width: $r_desk) {
                text-align: center;
            }
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $r_desk) {
                flex-direction: column;
                gap: 1rem;
            }
        }
    }
}
.text_orange {
    color: $orange;
}
.delivery {
    margin-top: 6rem;
    margin-bottom: 21rem;
    @media (max-width: $r_tab) {
        margin-bottom: 12rem;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        max-width: 1205px;
        margin: 75px auto 0;
        gap: 11.8rem;
        @media (max-width: $r_desk_hd) {
            gap: 5rem;
        }
        @media (max-width: $r_tab) {
            flex-direction: column;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: $r_tab) {
            gap: 3rem;
        }
    }
    &__link {
        text-decoration: none;
        color: $green;
        position: relative;
        transition: 0.3s;
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: #858881;
            position: absolute;
            left: 0;
            bottom: 3px;
            display: block;

        }
    }
}
.payment {
    &__link {
        list-style-type: none;
        padding-left: 0;
        margin-top: 46px;
        margin-bottom: 0;
        display: flex;
        gap: 35px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        height: 32px;
        transition: 0.3s;
        transform: scale(1);
        @media (max-width: $r_tab) {
            margin: 2rem auto;
            max-width: 35rem;
        }
        &:hover {
            opacity: 1;
        }
        &__mastercard {
            background-image: url(../images/mastercard.svg);
            width: 53px;
            opacity: 0.4;
            transform: scale(1.05);
        }
        &__visa {
            background-image: url(../images/visa.svg);
            width: 74px;
            opacity: 0.4;
            transform: scale(1.05);
        }
        &__paypal {
            background-image: url(../images/paypal.svg);
            width: 87px;
            opacity: 0.4;
            transform: scale(1.05);
        }
    }
}
.footer {
    font-size: 1.8rem;
    &__box {
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap;
        @media (max-width: $r_desk) {
            font-size: 1.6rem;
        } 
        @media (max-width: $r_tab) {
            display: block;
            text-align: center;
        } 
    }
    &__logo {
        flex-basis: 21.5%;
        margin-top: 1rem;
        @media (max-width: $r_desk) {
            flex-basis: 14.5%;
            margin-top: 0;
        }
        @media (max-width: $r_tab) {
            margin: 3rem auto;
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap:3rem;
        &_nav {
            @media (max-width: $r_tab) {
                flex-direction: row;
                justify-content: center;
                margin-bottom: 3rem;
                gap: 5rem;
            }
        }
        &_contacts {
            @media (max-width: $r_tab) {
                gap: 2rem;
                margin-bottom: 3.5rem;
            }
        }
    }
    &__link {
        text-decoration: none;
        color: $green;
        transition: 0.3s;
        &_nav:hover {
            color: $orange;
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    &__tel {
        font-size: 2.7rem;
        text-decoration: none;
        color: $green;
        transition: 0.3s;
        &:hover {
            color: $orange;
        }
        }
    &__mail {
        text-decoration: none;
        color: $green;
        transition: 0.3s;
        &:hover {
            color: $orange;
        }
        }
    &__text {
        display: flex;
        justify-content: space-between;
        margin-top: 3.4rem;
        padding-bottom: 3.4rem;
        color: rgba($green, 0.6);
        font-size: 1.6rem;
        & p {
            margin: 0;
        }
        @media (max-width: $r_tab) {
            flex-direction: column;
            font-size: 1.3rem;
            text-align: center;
            gap: 1.5rem;
        }
        }
    &-social {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $r_tab) {
            justify-content: space-around;
        }
        &__link {
            content: '';
            display: block;
            background-position: center center;
            background-repeat: no-repeat;
            border: 2px solid rgba(39, 48, 15);
            height: 4.5rem;
            width: 4.5rem;
            border-radius: 100%;
            opacity: 0.8;
            transition: 0.3s;
            &:hover {
                opacity: 1;
            }
        }
        &__vk {
            background-image: url(../images/vk.svg);
            background-size:2.3rem 2.4rem;
        }
        &__inst {
           
            background-image: url(../images/instagram.svg);
            background-size:1.8rem 1.8rem;
        }
        &__fb {
            background-image: url(../images/facebook.svg);
            background-size:1.9rem 1.8rem;
        }
    }
}
.author-link {
    text-decoration: none;
    color: rgba($green, 0.6);
    transition: 0.3s;
    &:hover {
        color: rgba($green, 1)
    }
}
.contact {
    margin-top: 12.5rem;
    margin-bottom: 16rem;
    &-box {
        display: flex;
        justify-content: space-between;
        @media (max-width: $r_tab_900) {
            flex-direction: column;
        }
        &__item {
            display: flex;
            flex-direction: column;
            margin-top: 2.6rem;
            margin-bottom: 3rem;
            gap: 6rem;
        }
        &__text {
            max-width: 40rem;
            flex-grow: 1;
            margin-left: 12.0rem;
            line-height: 1.7;
            margin-top: 0;
            margin-bottom: 0;
            display: flex;
            flex-direction:column;
            justify-content: space-between;
            @media (max-width: $r_desk_1280) {
                margin-left: 8rem;
            }
            @media (max-width: $r_desk) {
                margin-left: 0;
            }
            @media (max-width: $r_tab_900) {
                max-width: 80%;
                text-align:center;
                margin: 0 auto;
                gap: 3rem;
            }
            @media (max-width: $r_tab) {
                max-width: 100%;
            }
        }
        &__contacts {
            list-style-type: none;
            padding-left: 0;
            line-height: 1.9;
            margin-top: 0;
            margin-bottom: 0;
            @media (max-width: $r_tab_900) {
                display: flex;
                justify-content: space-between;
            }
        }
        &__form {
            flex-basis: 600px;
            @media (max-width: $r_desk_1280) {
                flex-basis: 50%;
            } 
        }
        &__description {
            letter-spacing:0.1rem;
            margin: 0;
            @media (max-width: $r_desk_1280) {
                font-size: 1.6rem;
            } 
        }
        &__contact {
            text-decoration: none;
            font-size: 2.4rem;
            color: $green;
            font-weight: 500;
            align-self: center;
            display: flex;
            gap: 3rem;
            align-items: center;
            transition:0.3s;
            @media (max-width: $r_tab_900) {
                gap: 1rem;
            }
            &:hover {
                color: $orange;
            }
            &__tel {
                &::before {
                    content: "";
                    display:inline-block;
                    background-image: url(../images/phone.svg);
                    background-size: cover;
                    width: 2.9rem;
                    height: 2.9rem;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
            &__mail {
                &::before {
                    content: "";
                    display:inline-block;
                    background-image: url(../images/mail.svg);
                    background-size: cover;
                    width: 2.9rem;
                    height: 2.9rem;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }
    }
}
.card {
    border: 2px solid rgba($green, 0.4);
    border-radius: 2rem;
    padding: 3.2rem 5.8rem 3.9rem;
    @media (max-width: $r_tab_900) {
        max-width: 550px;
        margin: 0 auto;
    }
    @media (max-width: $r_tab) {
        max-width: 100%;
        text-align: center;
    }
    &__title {
        font-size:3rem;
        font-family: $font-cormorant;
        margin-top: 0;
    }
    &__label {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        display: block;
        margin-left: 0.6rem;
    }
    &__input {
        border: 1px solid rgba($green, 0.4);
        padding: 2.2rem 2.9rem;
        margin-bottom: 2.8rem;
        display: block;
        width: 100%;
        box-sizing:border-box;
        border-radius: 2rem;
        transition: 0.3s;
        &:focus {
            border: 1px solid rgba($green, 1);
            outline: none;
        }
        &:invalid {
            border: red;
        }
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, 0.6);
        max-width: 360px;
        margin-top: 20px;
        margin-bottom: 0;
        line-height: 1.4;
        @media (max-width: $r_tab) {
            max-width: 100%;
        }
    }
    &__link {
        margin-top: 1.3rem;
        cursor: pointer;
    }
    &__docs {
        color: rgba($green, 0.6);
        text-decoration: none;
        border-bottom: 1px solid #ecedec;
    }
}
footer {
    border-top: 1px solid #d4d6cf;
    padding-top: 7.5rem;
    @media (max-width: $r_tab) {
        padding-top: 3.5rem;
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 rgba($green, 0.5);
    }
    50% {
        box-shadow: 20px 20px 33px 0 rgba($green, 0.5);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($green, 0.5);
    }
}
@keyframes animate_color {
	0% {
        color: $green;
	}
    50% {
        color: $orange;
    }
	100% {
        color: $green;
	}
}

  