@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange:#d26a22;
$white:#ffffff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
}

.header {
    max-width: 1440px;
    margin: 0 auto 5rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        gap: 4.8rem;
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        }
    &__link {
        color: $green;
        text-decoration: none;
        &:hover {
            color:$orange;
        }
    }
    &__tel {
        color: $green;
        text-decoration: none;
        font-weight: 500;
        &:hover {
            color:$orange;
        }
    }
    &__cart {
        display: block;
        background-image: url(../images/cart.svg);
        background-size: 1.7rem 1.5rem;
        background-color: $orange;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        border:1px solid $orange;
        &:hover {
            background-color: $green;
            border:1px solid $green;
            cursor:pointer;
        }
    }
    &__counter {
        color: $white;
        font-size: 0.8rem;
        text-decoration: none;
        position: absolute;
        right: 0.7rem;
        top: 0.6rem;

    }
}
.logo {
    display:block;
    background-image: url(../images/logo.svg);
    width: 12rem;
    height: 3.2rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    &__item {
        margin-left: 12rem;
        max-width: 378px;
        margin-top: 6rem;
    }
    &__link {
        margin-top: 5.5rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        padding-bottom: 200px;
    }
    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 656px;
        height: 656px;
        border-radius: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba($green, 0.4);
    }
    &__image {
        width: 90%;
        box-shadow: 5px 9px 34px 8px rgba($green, 0.2);
        border-radius: 100%;
    }
    &__text {
        padding-top: 4rem;
    }
    &__btn {
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        background-color: transparent;
        text-align: left;
        line-height: 1.4;
        &:hover {
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                    cursor: pointer;
                }
            }
        &::before {
            content: '';
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            background-color: $green;
            position: absolute;
        }
        &_1 {
            top: 46px;
            left: 63px;
            &::before {
            bottom: 11px;
            right: -35px;
            }
        }
        &_2 {
            top: 193px;
            right: 1px;
            &::before {
            top: 17px;
            left: -25px;
            }
        }
        &_3 {
            bottom: -51px;
            right: 243px;
            &::before {
            top: -21px;
            left: 13px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, 0.8);
    }
    &__vegetables {
        position: absolute;
        z-index: -1;
        &_pepper {
        top: 399px;
        left: 30px;
        width: 8.6rem;
        height: auto;
        } 
        &_bean01 {
        top: 798px;
        left: 8px;
        width: 4.7rem;
        height: auto;
        } 
        &_bean02 {
        top: 813px;
        left: 0px;
        width: 3.6rem;
        height: auto;
        }
        &_bean03 {
        top: 864px;
        left: 29px;
        width: 6.6rem;
        height: auto;
        } 
        &_tomato {
        bottom: 127px;
        right: 109px;
        width: 11rem;
        height: auto;
        } 
        &_avocado {
        top: 49px;
        right: 0px;
        width: 17.8rem;
        height: auto;
        }
        &_cucumber {
        top: 0px;
        left: 682px;
        width: 8.5rem;
        height: auto;
        } 
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    line-height: 1.0;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display:block;
        }
    }
}
.description {
    margin: 0;
    line-height: 1.5;
    &_size-s {
        font-size: 1.8rem;
    }
    &_size-m {
        font-size: 2.4rem;
    }
}
.link {
    color:$white;
    text-transform: uppercase;
    padding: 2.3rem 4.4rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    letter-spacing: 0.13rem;
}
.offer {
    background-image: url(../images/offer.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 1rem;
    padding-bottom: 200px;
    &__text {
        margin-top: 5.7rem;
        max-width: 68.5rem;
    }
}

  